{% extends "basePublic.html.twig" %}

{% block body %}
    <div class="d-flex flex-column" >
        <div class="mb-auto p-2">
            <img src="{{'/images/dziecko-kredki.jpg'}}" class="img-fluid"/>
        </div>
        <div class="mb-auto p-2">
            <div class="container rounded bg-light p-3 shadow">
                <div class="d-flex flex-row justify-content-center">
                    <div class="mb-auto p-2 col-md-2">
                        <h5 class="text-primary">Wzorowa opieka</h5>
                    </div>
                    <div class="mb-auto p-2 col-md-2">
                        <h5 class="text-primary">Najlepsza edukacja</h5>
                    </div> 
                    <div class="mb-auto p-2 col-md-2">
                        <h5 class="text-primary">Dobra opinia</h5>
                    </div>
                    <div class="mb-auto p-2 col-md-2">
                        <h5 class="text-primary">Łatwa adaptacja</h5>
                    </div> 
                    <div class="mb-auto p-2 col-md-2">
                        <h5 class="text-primary">Zdrowe żywienie</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid md-col-11 rounded my-5 p-3">
            <div class="mb-auto mx-5">
                <h3 class="text-primary display-4"><strong>Aktualności</strong></h3>
            </div>
            <div class="mb-auto p-2">
                <div class="d-flex flex-row justify-content-center">
                    <div class="mb-auto p-4">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="{{'/images/dzieci-wieza.jpg'}}" alt="Card image cap">
                            <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <hr>
                            <p class="card-text text-muted text-center">29.08.2021r.</p>
                            </div>    
                        </div>
                    </div>
                    <div class="mb-auto p-4">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="{{'/images/dzieci-zabawa.jpg'}}" alt="Card image cap">
                            <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <hr>
                            <p class="card-text text-muted text-center">29.08.2021r.</p>
                            </div>    
                        </div>
                    </div>
                    <div class="mb-auto p-4">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="{{'/images/dzieci-kolko.jpg'}}" alt="Card image cap">
                            <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <hr>
                            <p class="card-text text-muted text-center">29.08.2021r.</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-auto p-2 d-flex justify-content-center">
                <a class="nav-link active" href="#"><h4>Zobacz więcej >> </h4></a>
            </div>
        </div>
        <div class="container-fluid md-col-11 rounded my-2 p-3">
            <div class="mb-auto mx-5">
                <h3 class="text-primary display-4"><strong>Kontakt</strong></h3>
            </div>
            <div class="d-flex flex-row justify-content-evenly">
                <div class="mb-auto mx-5 p-4">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="mb-auto p-2">
                            <h4 class="text-primary"><strong>Godziny otwarcia:</strong></h4>
                            <h5>Poniedziałek-Piątek: 8:00-16:00</h5>
                            <h5>Weekend: Nieczynne</h5>
                        </div>
                        <div class="mb-auto p-2">
                            <h4 class="text-primary"><strong>Adres:</strong></h4>
                            <h5> ul.Armii Krajowej 0 <br> 00-000 Iksowo</h5>
                        </div>
                        <div class="mb-auto p-2">
                            <h4 class="text-primary"><strong>Numer telefonu:</strong></h4>
                            <h5>+48 123 456 789</h5>
                        </div>
                        <div class="mb-auto p-2">
                            <h4 class="text-primary"><strong>Email:</strong></h4>
                            <h5>przedszkole@przedszkole.pl</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-auto mx-5 p-4">
                    <div class="d-flex flex-column justify-content-center">
                        <img src="{{'/images/przedszkole.png'}}" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    <div>
{% endblock %}
