{% extends "basePrivate.html.twig" %}


{% block body %}
     <div class="container-fluid rounded bg-light p-3">
        
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-between">
                <div class="">
                    <h2 class="p-3">Księga dzieci</h2>
                </div>
                <div class="p-3 ">
                    <a href="{{path('addChild')}}" class="btn btn-primary ">Dodaj dziecko</a>
                </div>
            </div>
   
        <div class="d-flex flex-row justify-content-between px-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Imię</th>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">Aktywny</th>
                        <th scope="col">Grupa</th>
                        <th scope="col">Niepełnosprawność</th>
                        <th scope="col">Oświadczenie</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in children %}
                        <tr class="{% if child.active is same as false %} table-active {% endif %}">
                            <td>{{child.name}}</td>
                            <td>{{child.surname}}</td>
                            <td>
                                {% if child.active is same as true %} Tak 
                                {% else %} Zaarchiwizowany
                                {% endif %}    
                            </td>
                            <td>
                                {% for class in child.idclass %}
                                    {{ class.name }},
                                {% endfor %}
                            </td>
                            <td>
                                {% for disability in child.iddisability %}
                                    {{ disability.name }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for disability in child.iddisability %}
                                    {{ disability.decision }}
                                {% endfor %}
                            </td>
                            <td>
                                {% if child.active is same as true %} 
                                   <button id="archive" data-id="{{child.idchild}}" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Zaarchiwizuj
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <nav aria-label="Page navigation example">
            <p> {{app.request.query.get("page")}}</p>
                <ul class="pagination justify-content-center">
                    <li class="page-item
                        {% if app.request.get("page") == 1 %} disabled {% endif %}"
                    >
                    <a class="page-link" href="{{ path(app.request.attributes.get('_route'), { 'page': app.request.attributes.get('_route_params').page - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; </span>
                    </a>
                    </li>
                    {% if pages > 1 %}

                        {% for i in 1 .. pages %}
                        <li class="page-item"><a class="page-link" href="{{ path('childrenbook', { 'page': i}) }}" > {{i}} </a></li>
                        
                        {% endfor %}

                        <li class="page-item
                        {% if app.request.get("page") == pages %} disabled {% endif %}">
                            <a class="page-link" href="{{path(app.request.attributes.get('_route'), { 'page': app.request.attributes.get('_route_params').page + 1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path('childrenbook', {'page': 1}) }}" > 1 </a></li>
                        <li class="page-item disabled">
                            <a class="page-link" href="{{path(app.request.attributes.get('_route'), { 'page': app.request.attributes.get('_route_params').page + 1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>

        <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Uwaga!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Czy na pewno chcesz zaarchiwizować dziecko? <br/> Tej akcji nie można cofnąć.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            <button id="accept" data-id="0" type="button" class="btn btn-primary">Tak</button>
        </div>
        </div>
    </div>
    </div>


 <script>
        $(document).on("click", "#archive", function () {
            var childId = $(this).data('id');
            document.getElementById('accept').dataset.id = childId;
        });

        $(document).on("click", "#accept", function () {
            var child = $(this).data('id');
            $.ajax({
            type: 'POST',
            url: "/archiveChild/"+child ,
            dataType: 'json', 
            
            success:function(data){
                window.location.href = "/childrenbook/1";
                
            },
            error:function(xhr, textStatus, errorThrown){
                alert('Ajax request failed.'); 
            }
            })
        });
    </script>
{% endblock %}

