{% extends "basePrivate.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('post') }}
{% endblock %}

{% block body %}
     <div class="container-fluid rounded bg-light p-3">
        
        <h2 class="p-3">Dodaj artykuł</h2>

         {{ form_start(newsForm, {attr: {'id': 'tinymce_editor','data-news-id': idnews }}) }}
            <div class="d-flex flex-column align-items-center">
                <div class="mb-auto p-2 col-md-8">
                    {{ form_row(newsForm.topic) }}
                </div>
                <div class="mb-auto p-2 col-md-8" >
                    {{ form_row(newsForm.content) }}
                </div>
                <div class="d-flex flex-row justify-content-center p-3">
                    <button type="submit" class="btn btn-primary">Zapisz artykuł</button>
                </div>
            </div>
		{{ form_end(newsForm) }}
    </div>

    <script>

    </script>

{% endblock %}