{% extends "basePrivate.html.twig" %}


{% block body %}
     <div class="container-fluid rounded bg-light p-3">
        
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-between">
                <div class="">
                    <h2 class="p-3">Grupy</h2>
                </div>
                <div class="p-3 ">
                {% if is_granted( "ROLE_ADMIN" ) %}
                    <a href="{{path('addGroup')}}" class="btn btn-primary ">Dodaj grupę</a>
				{% endif %}
                </div>
            </div>
   
        <div class="d-flex flex-row justify-content-between px-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nazwa grupy</th>
                        <th scope="col">Aktywna</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr class="{% if group.active is same as false %} table-active {% endif %}">
                            <td>{{group.name}}</td>
                            <td>
                                {% if group.active is same as true %} Tak 
                                {% else %} Zaarchiwizowany
                                {% endif %}    
                            </td>
                            <td>
                                <div class = "px-3 float-end">
                                    {% if group.active is same as true %} 
                                        {% if is_granted( "ROLE_ADMIN" ) %}
                                            <button id="archive" data-id="{{group.idclass}}" type="button" class="mb-auto btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                Zaarchiwizuj
                                            </button>            
                                        {% endif %}
                                    {% endif %}
                                    <a class="mb-auto btn btn-success btn-sm" href="{{path('presence', {"id" : group.idclass, "modifier" : 0})}}">
                                            Dziennik
                                    </a>
                                    <a class="mb-auto btn btn-primary btn-sm" href="{{path('detailsGroup', {"id" : group.idclass})}}">
                                            Szczegóły
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <nav aria-label="Page navigation example">
            <p> {{app.request.query.get("page")}}</p>
                <ul class="pagination justify-content-center">
                    <li class="page-item
                        {% if app.request.get("page") == 1 %} disabled {% endif %}"
                    >
                    <a class="page-link" href="{{ path(app.request.attributes.get('_route'), { 'page': app.request.attributes.get('_route_params').page - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; </span>
                    </a>
                    </li>
                    {% if pages > 1 %}

                        {% for i in 1 .. pages %}
                        <li class="page-item"><a class="page-link" href="{{ path('groups', { 'page': i}) }}" > {{i}} </a></li>
                        
                        {% endfor %}

                        <li class="page-item
                        {% if app.request.get("page") == pages %} disabled {% endif %}">
                            <a class="page-link" href="{{path(app.request.attributes.get('_route'), { 'page': app.request.attributes.get('_route_params').page + 1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path('groups', {'page': 1}) }}" > 1 </a></li>
                        <li class="page-item disabled">
                            <a class="page-link" href="{{path(app.request.attributes.get('_route'), { 'page': app.request.attributes.get('_route_params').page + 1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>

        <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Uwaga!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="idGroup"> ___ </div>
            Czy na pewno chcesz zaarchiwizować grupę? <br/> Tej akcji nie można cofnąć.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            <button id="accept" data-id="0" type="button" class="btn btn-primary" >Tak</button>
        </div>
        </div>
    </div>
    </div>

    <script>
        $(document).on("click", "#archive", function () {
            var groupId = $(this).data('id');
            console.log(groupId)
            document.getElementById('accept').dataset.id = groupId;
        });

        $(document).on("click", "#accept", function () {
            var group = $(this).data('id');
            console.log(group)
            $.ajax({
            type: 'POST',
            url: "/archiveGroup/"+group ,
            dataType: 'json', 
            
            success:function(data){
                window.location.href = "/groups/1";
                
            },
            error:function(xhr, textStatus, errorThrown){
                alert('Ajax request failed.'); 
            }
            })
        });
    </script>
{% endblock %}

