{% extends "basePrivate.html.twig" %}


{% block body %}
     <div class="container-fluid rounded bg-light p-3">
        
        <div class="d-flex flex-column">
                <div class="mb-auto ">
                    <h2 class="p-3">Przegląd rozliczeń</h2>
                </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="mb-auto mx-3 p-3 flex-column">
                    <ul class="pagination">
                        <li class="page-item">
                        <a class="page-link" href="{{path(app.request.attributes.get('_route'), { 'modifier': app.request.attributes.get('_route_params').modifier - 1, 'page': app.request.attributes.get('_route_params').page}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">{{month}}</a></li>
                        <li class="page-item">
                        <a class="page-link" href={{path(app.request.attributes.get('_route'), { 'modifier': app.request.attributes.get('_route_params').modifier + 1, 'page': app.request.attributes.get('_route_params').page}) }} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="mb-auto flex-column">
                    <div class="btn-group p-3" role="group" aria-label="Basic example">
                        <a class="btn btn-primary" href="{{ path('addInvoice') }}">Dodaj nową fakturę</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#monthModal">Rozliczenie za {{month}}</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#yearModal">Rozliczenie za rok {{year}}</button>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-between px-4">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Numer faktury</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Data</th>
                        <th scope="col">Wartość</th>
                        <th scope="col">Wartość specialna</th>
                        <th scope="col">Kategoria</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>{{invoice.invoiceNumber}}</td>
                        <td>{{invoice.name}}</td>
                        <td>{{invoice.date|date('Y-m-d')}}</td>
                        <td>{{invoice.value}}</td>
                        <td>
                            {% if invoice.special is same as true %} Tak 
                            {% else %} Nie
                            {% endif %}
                        </td>
                        <td><div class="md-col-3">{{invoice.idcategory.name}}</div></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation example">
            <p> {{app.request.query.get("page")}}</p>
                <ul class="pagination justify-content-center">
                    <li class="page-item
                        {% if app.request.get("page") == 1 %} disabled {% endif %}"
                    >
                    <a class="page-link" href="{{ path(app.request.attributes.get('_route'), { 'modifier': app.request.attributes.get('_route_params').modifier, 'page': app.request.attributes.get('_route_params').page - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; </span>
                    </a>
                    </li>
                    {% if pages > 1 %}

                        {% for i in 1 .. pages %}
                        <li class="page-item"><a class="page-link" href="{{ path('settlement', {'modifier': app.request.attributes.get('_route_params').modifier, 'page': i}) }}" > {{i}} </a></li>
                        
                        {% endfor %}

                        <li class="page-item
                        {% if app.request.get("page") == pages %} disabled {% endif %}">
                            <a class="page-link" href="{{path(app.request.attributes.get('_route'), { 'modifier': app.request.attributes.get('_route_params').modifier, 'page': app.request.attributes.get('_route_params').page + 1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path('settlement', {'modifier': app.request.attributes.get('_route_params').modifier, 'page': 1}) }}" > 1 </a></li>
                        <li class="page-item disabled">
                            <a class="page-link" href="{{path(app.request.attributes.get('_route'), { 'modifier': app.request.attributes.get('_route_params').modifier, 'page': app.request.attributes.get('_route_params').page + 1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <!-- Montly modal -->
    <div class="modal fade" id="monthModal" tabindex="-1" aria-labelledby="monthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="monthModalLabel">Rozliczenie za miesiąc {{month}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-row justify-content-between px-4">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Wartość zwykła</th>
                        <th scope="col">Wartość specialna</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categoriesMonth %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.value}}</td>
                        <td>{{category.specialValue}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- Yearly modal -->
    <div class="modal fade" id="yearModal" tabindex="-1" aria-labelledby="yearModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="yearModalLabel">Rozliczenie za rok {{year}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-row justify-content-between px-4">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Wartość</th>
                        <th scope="col">Wartość specialna</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categoriesYear %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.value}}</td>
                        <td>{{category.specialValue}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    </div>
    
{% endblock %}
